body { 
    background: #fff; 
    color: #555; 
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#content {
    padding-left: 25%;
    width: 50%;
}

#banner {
    padding: 5px;
    margin: 5px;
    background: #DCDAE5;
}

h1#main_heading {
    padding-left: 25%;
}

#error {
    color: red;
}

#traveler-form {
    margin-bottom: 20px;
}

.formstyle {
    width: 600px;
}

.formstyle label {
    display:block;
    font-weight:bold;
    clear: left;
    float:left;
    padding-right: 10px;
}

.widget {
    float:left;
    clear: left;
    font-size:12px;
    padding: 2px 1px;
    margin: 2px 0px 10px 0px;
    width: 550px;
}

.formstyle input {
    width: 265px;
}

select {
    font-weight:bold;
    background-color:#ddd;
    width: 212px;
}

#animate-button, .formstyle button {
    float: left;
    margin-right: 15px;
    width:125px;
    height:31px;
    text-align:center;
    line-height:31px;
    font-weight:bold;
    background-color:#ddd;
}    

#svg-viewer {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

#animation {
    clear: both;
    float: left;
    padding: 10px 0px 10px 0px;
    width: 700px;
}
